         <span class="product_id_edit">Product ID: <%= @product.number %> <span class="product_link_back">(<%= link_to @product.title, edit_admin_product_path(@product) %>)</span></span>

              <table class="table">
                <thead class="thead-inverse">
                  <tr>
                    <th style="width: 15%;">SKU</th>
                    <th style="width: 40%;">Option Values</th>
                    <th class="a_center" style="width: 15%;">Price</th>
                    <th class="a_center"  style="width: 15%;">Quantity</th>
                    <th class="a_center"  style="width: 15%;">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <% @product.variants.each do |variant| %>
                <tr>
                  <td style="color: #1d454f; font-weight: bold;"><%= link_to variant.SKU, edit_admin_product_variant_path(@product, variant) %></td>
                  <td><% variant.option_values.each do |vov| %> 
                      <li><%= vov.name %> (<%= vov.presentation %>)</li>
                      <% end %> </td>
                  <th class="a_center" style="font-weight: normal;" ><%= number_to_currency(variant.price, unit: "RM") %></td>
                  <th class="a_center" style="font-weight: normal;" ><%= variant.count_on_hand %></td>
                  <th class="a_center glyph" style="width: 10%;">
                    <%= link_to edit_admin_product_variant_path(@product, variant), title: "Manage", data: {toggle: 'tooltip', placement: "top" } do %>
                      <i class="btn btn-success glyphicon glyphicon-book"></i>
                    <% end %>
                  </td>
                  <% end %>
                </tr>
            </tbody>
          </table>

                
 