
<h1>All Configurations</h1>



<table class="table" style="font-size: 0.9em;">
  <thead class="thead-inverse">
    <tr>
      <th style="width:10%;">Proposal No.</th>
      <th style="width:20%; text-decoration: underline;"><%= sort_link @search, :created_at, "Date" %></th>
      <th style="width:40%;">Project</th>
      <th style="width:30%;">Owner</th>

    </tr>
  </thead>

  <tbody>

    <% @configs.each do |config| %>
      <tr>
        <td style="color: #1d454f; font-weight: bold;"><%= config.number %></td>
        <td><%= config.created_at.strftime('%a, %d %b %Y %H:%M:%S') %></td>
        <td><%= config.project %><br>(number of racks: <%= config.rack_q%>)</td>
        <td><%= User.find(config.user_id).name %> <br> <%= User.find(config.user_id).company %> </td>
        <% end %>
      </tr>
  </tbody>
</table>
<br>


